# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node
node_modules/

# Next.js
.next/
out/
.next-*

# Production
build/

# Testing
coverage/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# TypeScript
*.tsbuildinfo

# Misc
*.local
